{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 <!--override for stationery group fn-->\
<div ng-repeat="group in user.Groups">\
    <div ng-if="group.Name == 'General'">\
        <h2>Welcome to ViaSat Residential's Ad Builder Online Ordering System</h2>\
        <div class="cols-xs-12 col-sm-12 col-md-8 col-lg-8 text-left">\
            <h3>Your one-stop-shop for CoOp approved customizable marketing materials</h3>\
            <p>Customize marketing materials with your logo, contact information, special offers, photos and more.</p>\
            <ul>\
                <li>Download FREE customized PDFs on Ads and some print items</li>\
                <li>Cost effective print services</li>\
                <li>Custom sizes and media placement available on ads</li>\
                <li>Mailing services, including targeted and saturated lists options</li>\
            </ul>\
            <br />\
            <p class="lead">Start building your custom item now by clicking on any of the below categories.</p>\
        </div>\
        <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">\
            <div class="well home-notice">\
                Use your Co-op funds online when you order&mdash;no waiting for reimbursement!\
            </div>\
        </div>\
        <br />\
    </div>\
    <div ng-if="group.Name == 'Stationery'">\
        <h2>Welcome to ViaSat's Business Card Builder</h2>\
        <div class="cols-xs-12 col-sm-12 col-md-8 col-lg-8 text-left">\
            <h3>To Get Started</h3>\
            <ul>\
                <li>Select the business card</li>\
                <li>Enter your contact information</li>\
                <li>Production on business card orders happens twice a month on the 1st and the 15th <em class="small">(or the first business day following weekends/holidays)</em></li>\
                <li>There is an option for a Rush Print, we will print your card immediately if you need it for an additional cost</li>\
            </ul>\
            <br/>\
        </div>\
       <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">\
            <div class="well home-notice">\
                <h3>In a Hurry?</h3>\
                <p>Select <strong>Rush Order</strong> at checkout for <strong>On Demand Printing</strong</p>\
            </div>\
        </div>-->\
    </div>\
}